body {
    font-size: 1.5em;
    font-family: Verdana, serif;
}

div#menu {
    background: #aaddff none repeat scroll 0 0;
    font-family: Verdana, serif;
    color: black;
    width: 100%;
}

div.auto_width {
    width: auto;
}

div.group_list {
    font-size: 1.5em;
    padding-left: 10vh;
}

div.modal-header {
    color: #0000ff;
    font-size: 1.5em;
    font-weight: bolder;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
}

span.title {
    font-size: 2em;
    padding: 0 1em;
}

span#name {
    color: green;
    padding: 0;
}

td.suite-name {
    width: 20%;
    padding: 5px;
    /*border: solid;*/
}

td.script-name {
    width: 60%;
    border: none;
    /*padding: 5px;*/
    /*text-align: left;*/
}


td.suite-numbers {
    width: 3em;
    /*border: solid;*/
    text-align: right;
    color: red;
}

td.script-numbers {
     width: 4%;
     /*border: solid;*/
     text-align: right;
     color: #398439;
 }

th,td.steps-numbers {
    width: 8%;
    /*border: solid;*/
    text-align: right;
}

th,td.steps-name {
    padding: 5px;
    width: 30em;
}

th,td.steps-description {
    padding: 5px;
    width: 40em;
}

th,td.steps-exp-result {
    padding: 5px;
    width: 30em;
}

th,td.steps-screen-shot {
    padding: 5px;
    width: 10em;
}

table.suite-table {
    background-color: #bfeeff;
    width: 90%;
    /*border: solid;*/
}

table.script-table {
    /*border: solid;*/
    width: 90%;
    padding: 1em;
    margin-bottom: 20px;
}

table.step-table {
    /*border: solid;*/
    font-size: medium;
}

.error {
    color: red;
}

input {
    font-size: 1.5em;
    width: 20em;
}

input.group_name {
    font-size: 1em;
    text-align: left;
    color: black;
    background-color: #9ac8e7;
    width: 10em;
}

input.suite_name {
    font-size: 1em;
    text-align: left;
    color: black;
    background-color: #24b6f0;
    width: 21em;
}

textarea {
    font-size: 1.5em;
    width: 100%;
}

footer {
    background-color: #cccccc;
    text-align: center;
}

.center-align {
    text-align: center;
}

.right-align {
    text-align: right;
}