body {
    font-size: 0.8vw;
    font-family: Verdana, serif;
}

hr {
    border: 0;
    height: 1px;
    background: #000;
    background-image: -webkit-linear-gradient(left, #fff, #000, #fff);
    background-image: -moz-linear-gradient(left, #fff, #000, #fff);
    background-image: -ms-linear-gradient(left, #fff, #000, #fff);
    background-image: -o-linear-gradient(left, #fff, #000, #fff);
}

img#id_img_del_screen_shot {
    padding-left: 50px;
    width: 80px;
    height: 30px;
}

div#menu {
    background: #aaddff none repeat scroll 0 0;
    font-family: Verdana, serif;
    color: black;
    width: 100%;
}

div.auto_width {
    width: auto;
}

div.group_list {
    font-size: 0.8vw;
    padding-left: 10vh;
}

div.modal-header {
    color: #0000ff;
    font-size: 0.8vw;
    font-weight: bolder;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
}

div.config-button {
    padding-top: 5em;
    text-align: center;
}

div.edit-screen-shot {
    outline: 1px solid darkgrey;
    padding: 1em;
}

div.with-border {
    outline: 1px solid darkgrey;
}

img.with-border
{
    outline: 1px solid darkgrey;
}


div.edit-screen-shot-loading {
    padding: 1em;
}

span.title {
    font-size: 2em;
    padding: 0 1em;
}

span.file-name {
    color: green;
    font-weight: bolder;
}

span.bold {
    font-weight: bolder;
}

span#name {
    color: green;
    padding: 0;
}

td.suite-numbers {
    width: 3vw;
    /*border: solid;*/
    text-align: right;
    color: red;
}

td.suite-name {
    width: 17vw;
    padding: 5px;
    /*border: solid;*/
}

td.suite-icons {
     width: 7vw;
 }

td.script-icons {
    width: 7vw;
}

td.script-name {
    width: 16vm;
    border: none;
    /*padding: 5px;*/
    /*text-align: left;*/
}

td.script-numbers {
     width: 4%;
     /*border: solid;*/
     text-align: right;
     color: #398439;
 }

th,td.steps-numbers {
    width: 8%;
    /*border: solid;*/
    text-align: right;
}

th,td.steps-name {
    padding: 5px;
    width: 30em;
}

th,td.steps-description {
    padding: 5px;
    width: 40em;
}

th,td.steps-exp-result {
    padding: 5px;
    width: 30em;
}

th,td.steps-screen-shot {
    padding: 5px;
    width: 10em;
}

td.statistic-header {
    font-weight: bold;
}

td.statistic-value {
    font-weight: bold;
    color: #398439;
    width: 10em;
    text-align: right;
}

td.screen-shot {
    padding: 1em;
    width: 20em;
    vertical-align: top;
}


.delete-button {
    background: transparent url(/images/icons/delete.png) no-repeat 0 0;
    background-size: 100% 100%;     /* Маштабирование изображения */
    cursor:pointer;
    width: 30px;
    height: 30px;
    border: none;
    padding-left: 30px;
    vertical-align: middle;
    margin-left: 1.5em;
    text-indent: -10000em;      /* Надпись кнопки сдвинуть в даль */
}

table.suite-table {
    background-color: #bfeeff;
    width: 95%;
    /*border: solid;*/
}

table.script-table {
    /*border: solid;*/
    width: 93%;
    padding: 1em;
    margin-bottom: 20px;
}

table.step-table {
    /*border: solid;*/
    font-size: 0.8vw;
}

.error {
    color: red;
}


input#btn-group {
    width: auto;
}

input {
    font-size: 0.8vw;
    width: 20em;
}



input.group_name {
    font-size: 0.8vw;
    text-align: left;
    color: #337ab7;
    background-color: white;
    width: 10em;
    border: none;
}

.group_name:hover {
    background-color: #bfeeff;
    color: black;
    text-decoration: underline;
}

input.suite_name {
    font-size: 1em;
    text-align: left;
    color: black;
    background-color: #24b6f0;
    width: 21em;
}

input.config {
    font-size: 1em;
    width: 70vw;
}

textarea {
    font-size: 0.8vw;
    width: 100%;
}

footer {
    background-color: #cccccc;
    text-align: center;
}

.center-align {
    text-align: center;
}

.right-align {
    text-align: right;
}

.left-align {
    text-align: left;
}
.version {
    color: #ff0000;
    font-weight: bold;
}