body {
    font-size: 1.5em;
    font-family: Verdana;
}

div#menu {
    background: #aaddff none repeat scroll 0 0;
    font-family: Verdana;
    color: black;
    width: 100%;
}

div.auto_width {
    width: auto;
}

div.modal-header {
    color: #0000ff;
    font-size: 1.5em;
    font-weight: bolder;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
}

span.title {
    font-size: 2em;
    padding: 0 1em;
}



td.suite-name {
    width: 20%;
    /*border: solid;*/
    /*padding: 5px;*/
    /*text-align: left;*/
}

td.script-name {
    width: 60%;
    border: none;
    /*padding: 5px;*/
    /*text-align: left;*/
}

td.suite-numbers {
    width: 3em;
    /*border: solid;*/
    text-align: right;
    color: red;
}

td.script-numbers {
    width: 3em;
    /*border: solid;*/
    text-align: right;
    color: #398439;
}

table.suite-table {
    background-color: #bfeeff;
    width: 90%;
}

table.script-table {
    border: none;
    width: 90%;
    padding: 1em;
}

.error {
    color: red;
}

input {
    font-size: 1.5em;
    width: 20em;
}

textarea {
    font-size: 1.5em;
    width: 100%;
}
