<div id="aboutModal" class="modal" tabindex="-1" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div id="headerModal" class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                О программе
            </div>
            <div class="modal-body">
                <p>
                Программа <span class="file-name">SpecAdmin</span> предназначена для создания и
                ведения спецификаций тестов. Сценарии, состоящие из Шагов, объединяются в Сюиты,
                которые в свою очередь собираются в Группы. К каждому Шагу можно прикрепить скриншот.
                В пункте меню <span class="bold">Конфигурация</span> есть возможность указать директорию
                хранилища скриншотов и выполнить удаление неиспользуемых файлов скриншотов.

                <p>
                Есть возможность отдельно распечатать Шаги определённого Сценария или Сценарии,
                входящие в Сюиту.

                <br><br>
                Версия: <span class="version">{{ .Version }}</span><br>
                <br>
            </div>
            <div class="modal-footer">
                <button type="button"
                        class="btn btn-success btn-lg"
                        data-dismiss="modal">
                    OK
                </button>
            </div>
        </div>
    </div>
</div>
