<div id="addSuite" class="modal" tabindex="-1" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div id="headerModal" class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                Добавить сюиту
            </div>

            <div class="modal-body">
                <form id="id_add_suite_form" name="add_suite_form" method="post" action="/spec-admin/add-suite">

                    <label for="id_suite"> Имя новой сюиты (без пробелов!)</label><br>
                    <input id="id_suite" name="suite" placeholder=" Имя новой сюиты">
                    <br><br>

                    <label for="id_suites_serial_number"> Порядковый номер </label><br>
                    <input id="id_suites_serial_number" name="suites_serial_number" placeholder=" Порядковый номер">
                    <br><br>

                    <label for="id_suites_group"> Группа сюиты </label><br>
                    <input id="id_suites_group" name="suites_group" placeholder=" Группа сюиты">
                    <br><br>

                    <div class="auto_width">
                    <label for="id_suites_description"> Описание сюиты </label><br>
                    <textarea id="id_suites_description" name="suites_description" placeholder=" Описание сюиты"
                              rows="5"></textarea>
                    </div>
                </form>
            </div>

            <!-- Автофокус в поле ввода в модальном окне -->
            <script>
                $('#addSuite').on('shown.bs.modal', function (e) {
                    $('#id_suite', e.target).focus();
                });
            </script>

            <div class="modal-footer">
                <button
                        class="btn btn-success btn-lg"
                        form="id_add_suite_form">
                    Добавить
                </button>

                <button form="id_add_suite_form"
                        type="reset"
                        class="btn btn-success btn-lg">
                    Очистить форму
                </button>

                <button type="button"
                        class="btn btn-success btn-lg"
                        data-dismiss="modal">
                    Отмена
                </button>
            </div>

        </div>
    </div>
</div>
