<div id="changePassword" class="modal" tabindex="-1" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div id="headerModal" class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                Изменение пароля пользователя
            </div>

            <div class="modal-body">
                <form id="id_change_password_form" name="delete_user_form" method="post" action="/spec-admin/change-password">

                    <label>Пользователь: </label><span id="id_login_label" class="error"> </span>
                    <input id="id_login" name="login" type="hidden"><br>
                    <br>
                    <br>

                    <label for="id_old_password"> Старый пароль </label><br>
                    <input id="id_old_password" name="old_password" required="required" type="password" placeholder=" Старый пароль"><br>
                    <br>

                    <label for="id_new_password"> Новый пароль </label><br>
                    <input id="id_new_password" name="new_password" required="required" type="password" placeholder=" Новый пароль"><br>
                    <br>

                </form>
            </div>

            <!-- Автофокус в поле ввода в модальном окне -->
            <script>
                $('#changePassword').on('shown.bs.modal', function (e) {
                    $('#id_old_password', e.target).focus();
                });
            </script>

            <div class="modal-footer">
                <button type="submit"
                        class="btn btn-success btn-lg"
                        form="id_change_password_form">
                    Изменить
                </button>

                <button type="button"
                        class="btn btn-success btn-lg"
                        data-dismiss="modal">
                    Отмена
                </button>
            </div>
        </div>
    </div>
</div>
