{{ template "header.html" .}}

<span class="title">Конфигурация</span>

<p>
<div class="group_list">
    <form id="id_config_form" method="post" action="/spec-admin/save-config">
        {{ range .config }}

        <label for="id_option_{{ .Name }}"> {{ .Name }} </label>:&nbsp;
        <input class="config" id="id_option_{{ .Name }}" name="option_{{ .Name }}"
               value="{{ .Value }}" required="required" type="text" autofocus>
        <br><br>

        {{ end }}
    </form>

    <div class="config-button">
        <button type="submit" class="btn btn-success btn-lg" form="id_config_form">
            Сохранить
        </button>
        <a type="button" class="btn btn-success btn-lg" href="/spec-admin">
            Отмена
        </a>
    </div>

</div>
</p>
<br><br><br>

<hr>

<span class="title">Дополнительные операции</span>
<p>
<div class="group_list">

    <a type="button" class="btn btn-success btn-lg" href="/spec-admin/del-old-screenshots-file">
        Удалить неиспользуемые файлы скриншотов
    </a>
    <br><br>
    <a type="button" class="btn btn-success btn-lg" href="/spec-admin/users-config">
        Пользователи
    </a>

</div>
</p>

{{ template "footer.html" .}}
