<div id="delGroup" class="modal" tabindex="-1" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div id="headerModal" class="modal-header">
                Удалить группу тестов
            </div>

            <div class="modal-body">

                <form id="id_del_group_form" name="del_group_form" method="post" action="/spec-admin/del-group">
                    <input id="id_group" name="group" placeholder=" Введи имя группы"
                           required="required" type="text">
                    <br>
                </form>
            </div>

            <!-- Автофокус в поле ввода в модальном окне -->
            <script>
                $('#delGroup').on('shown.bs.modal', function (e) {
                    $('#id_group', e.target).focus();
                });
            </script>

            <div class="modal-footer">
                <button type="submit"
                        class="btn btn-success btn-lg"
                        form="id_del_group_form">
                    Удалить
                </button>

                <button form="id_del_group_form"
                        type="reset"
                        class="btn btn-success btn-lg">
                    Очистить
                </button>

                <button type="button"
                        class="btn btn-success btn-lg"
                        data-dismiss="modal">
                    Отмена
                </button>
            </div>
        </div>
    </div>
</div>
