<div id="delSuite" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div id="headerModal" class="modal-header">
                Удалить сюиту тестов
            </div>

            <div class="modal-body">

                <form id="id_del_suite_form" name="del_suite_form" method="post" action="/spec-admin/del-suite">
                    <input id="id_suite" name="suite" placeholder=" Введи имя сюиты"
                           required="required" type="text">
                    <br>
                </form>
            </div>

            <!-- Автофокус в поле ввода в модальном окне -->
            <script>
                $('#delSuite').on('shown.bs.modal', function (e) {
                    $('#id_suite', e.target).focus();
                });
            </script>

            <div class="modal-footer">
                <button type="submit"
                        class="btn btn-success btn-lg"
                        form="id_del_suite_form">
                    Удалить
                </button>

                <button form="id_del_suite_form"
                        type="reset"
                        class="btn btn-success btn-lg">
                    Очистить
                </button>

                <button type="button"
                        class="btn btn-success btn-lg"
                        data-dismiss="modal">
                    Отмена
                </button>
            </div>
        </div>
    </div>
</div>
