<div id="delStep" class="modal" tabindex="-1" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div id="headerModal" class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span>&times;</span>
                </button>
                Удалить шаг из сценария
            </div>

            <div class="modal-body">
                <form id="id_del_step_form" name="del_step_form" method="post" action="/spec-admin/del-step">

                    <div class="auto_width">
                        <label for="id_step"> Имя шага</label><br>
                        <textarea id="id_step" name="step"
                                  placeholder=" Имя удаляемого шага" rows="2"></textarea>
                    </div>
                    <br><br>

                    <div class="auto_width">
                        <label for="id_script"> Сценарий шага </label><br>
                        <textarea id="id_script" name="script"
                                  placeholder=" Сценарий, содержащий шаг" rows="2"></textarea>
                    </div>
                    <br><br>

                    <label for="id_suite"> Сюита шага </label><br>
                    <input id="id_suite" name="suite" placeholder=" Сюита, содержащая сценарий">
                    <br><br>
                </form>
            </div>

            <!-- Автофокус в поле ввода в модальном окне -->
            <script>
                $('#delStep').on('shown.bs.modal', function (e) {
                    $('#id_step', e.target).focus();
                });
            </script>

            <div class="modal-footer">
                <button class="btn btn-success btn-lg" form="id_del_step_form">
                    Удалить
                </button>

                <button form="id_del_step_form" type="reset" class="btn btn-success btn-lg">
                    Очистить форму
                </button>

                <button type="button" class="btn btn-success btn-lg" data-dismiss="modal">
                    Отмена
                </button>
            </div>
        </div>
    </div>
</div>
