<div id="delSuite" class="modal" tabindex="-1" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div id="headerModal" class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span>&times;</span>
                </button>
                Удалить сюиту тестов
            </div>

            <div class="modal-body">

                <form id="id_del_suite_form" name="del_suite_form" method="post" action="/spec-admin/del-suite">

                    <label for="id_suite"> Имя сюиты </label><br>
                    <input id="id_suite" name="suite" placeholder=" Имя сюиты">
                    <br>

                </form>
            </div>

            <!-- Автофокус в поле ввода в модальном окне -->
            <script>
                $('#delSuite').on('shown.bs.modal', function (e) {
                    $('#id_suite', e.target).focus();
                });
            </script>

            <div class="modal-footer">
                <button class="btn btn-success btn-lg" form="id_del_suite_form">
                    Удалить
                </button>

                <button form="id_del_suite_form" type="reset" class="btn btn-success btn-lg">
                    Очистить форму
                </button>

                <button type="button" class="btn btn-success btn-lg" data-dismiss="modal">
                    Отмена
                </button>
            </div>
        </div>
    </div>
</div>
