<div id="deleteUser" class="modal" tabindex="-1" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div id="headerModal" class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                Удалить пользователя
            </div>

            <div class="modal-body">
                <form id="id_delete_user_form" name="delete_user_form" method="post" action="/spec-admin/delete-user">

                    <label for="id_login"> Логин </label><br>
                    <input id="id_login" name="login" required="required" type="text"><br>
                    <br>

                    <label for="id_full_name"> Полное имя (ФИО) </label><br>
                    <input id="id_full_name" name="full_name" required="required" type="text"><br>
                    <br>
                </form>
            </div>

            <!-- Автофокус в поле ввода в модальном окне -->
            <script>
                $('#deleteUser').on('shown.bs.modal', function (e) {
                    $('#id_login', e.target).focus();
                });
            </script>

            <div class="modal-footer">
                <button type="submit"
                        class="btn btn-success btn-lg"
                        form="id_delete_user_form">
                    Удалить
                </button>

                <button form="id_delete_user_form"
                        type="reset"
                        class="btn btn-success btn-lg">
                    Очистить форму
                </button>

                <button type="button"
                        class="btn btn-success btn-lg"
                        data-dismiss="modal">
                    Отмена
                </button>
            </div>
        </div>
    </div>
</div>
