<div id="editGroup" class="modal" tabindex="-1" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div id="headerModal" class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                Переименовать группу тестов
            </div>

            <div class="modal-body">
                <form id="id_edit_group_form" name="edit_group_form" method="post" action="/spec-admin/edit-group">

                    <label for="id_old_group"> Старое имя группы </label><br>
                    <input id="id_old_group" name="old_group"
                           placeholder=" Старое имя группы" required="required" type="text">
                    <br><br>

                    <label for="id_new_group"> Новое имя группы </label><br>
                    <input id="id_new_group" name="new_group"
                           placeholder=" Новое имя группы" required="required" type="text">
                </form>
            </div>

            <!-- Автофокус в поле ввода в модальном окне -->
            <script>
                $('#editGroup').on('shown.bs.modal', function (e) {
                    $('#id_old_group', e.target).focus();
                });
            </script>

            <div class="modal-footer">
                <button type="submit"
                        class="btn btn-success btn-lg"
                        form="id_edit_group_form">
                    Изменить имя группы
                </button>

                <button form="id_edit_group_form"
                        type="reset"
                        class="btn btn-success btn-lg">
                    Очистить форму
                </button>

                <button type="button"
                        class="btn btn-success btn-lg"
                        data-dismiss="modal">
                    Отмена
                </button>
            </div>

        </div>
    </div>
</div>
