<div id="editScript" class="modal" tabindex="-1" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div id="headerModal" class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span>&times;</span>
                </button>
                Редактирование сценария
            </div>

            <div class="modal-body">
                <form id="id_edit_script_form" name="edit_script_form" method="post" action="/spec-admin/edit-script">
                    <div class="auto_width">

                        <label for="id_script"> Имя редактируемого сценария </label><br>
                        <textarea id="id_script" name="script" placeholder=" Имя редактируемого сценария"
                                  rows="3"></textarea>
                        <br><br>

                        <label for="id_scripts_suite"> Сюита сценария </label><br>
                        <input id="id_scripts_suite" name="scripts_suite" placeholder=" Сюита сценария"><br>
                        <br>

                    </div>
                    <br>
                </form>
            </div>

            <!-- Автофокус в поле ввода в модальном окне -->
            <script>
                $('#editScript').on('shown.bs.modal', function (e) {
                    $('#id_script', e.target).focus();
                });
            </script>

            <div class="modal-footer">
                <button class="btn btn-success btn-lg" form="id_edit_script_form">
                    Редактировать сценарий
                </button>

                <button form="id_edit_script_form" type="reset" class="btn btn-success btn-lg">
                    Очистить форму
                </button>

                <button type="button" class="btn btn-success btn-lg" data-dismiss="modal">
                    Отмена
                </button>
            </div>
        </div>
    </div>
</div>
