<div id="editGroup" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div id="headerModal" class="modal-header">
                Переименовать группу тестов
            </div>

            <div class="modal-body">
                <form id="edit_group_form" name="edit_group_form" method="post" action="/spec-admin/edit-group">
                    <input id="id_old_group" name="old_group"
                           placeholder=" Старое имя группы" required="required" type="text">
                    <br>
                    <input id="id_new_group" name="new_group"
                           placeholder=" Новое имя группы" required="required" type="text">
                </form>
            </div>

            <div class="modal-footer">
                <button type="submit"
                        class="btn btn-success btn-lg"
                        form="edit_group_form">
                    Изменить имя группы
                </button>

                <button form="edit_group_form"
                        type="reset"
                        class="btn btn-success btn-lg">
                    Очистить
                </button>

                <button type="button"
                        class="btn btn-success btn-lg"
                        data-dismiss="modal">
                    Отмена
                </button>
            </div>

        </div>
    </div>
</div>
