<div id="editSuite" class="modal" tabindex="-1" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div id="headerModal" class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                Редактирование сюиты
            </div>

            <div class="modal-body">
                <form id="id_edit_suite_form" name="edit_suite_form" method="post" action="/spec-admin/edit-suite">
                    <input id="id_suite" name="suite" placeholder=" Имя редактируемой сюиты"
                           required="required" type="text">
                    <br>
                </form>
            </div>

            <!-- Автофокус в поле ввода в модальном окне -->
            <script>
                $('#editSuite').on('shown.bs.modal', function (e) {
                    $('#id_suite', e.target).focus();
                });
            </script>

            <div class="modal-footer">
                <button type="submit"
                        class="btn btn-success btn-lg"
                        form="id_edit_suite_form">
                    Редактировать сюиту
                </button>

                <button form="id_edit_suite_form"
                        type="reset"
                        class="btn btn-success btn-lg">
                    Очистить форму
                </button>

                <button type="button"
                        class="btn btn-success btn-lg"
                        data-dismiss="modal">
                    Отмена
                </button>
            </div>

        </div>
    </div>
</div>
