<div id="editStep" class="modal" tabindex="-1" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div id="headerModal" class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                Редактирование шага
            </div>

            <div class="modal-body">
                <form id="id_edit_step_form" name="edit_step_form" method="post" action="/spec-admin/edit-step">

                    <div class="auto_width">
                        <label for="id_step"> Имя редактируемого шага </label><br>
                        <textarea id="id_step" name="step" required="required"
                                  placeholder=" Имя редактируемого шага" rows="2"></textarea>
                    </div>
                    <br>

                    <div class="auto_width">
                        <label for="id_steps_script"> Сценарий шага </label><br>
                        <textarea id="id_steps_script" name="steps_script" required="required"
                                  placeholder=" Сценарий шага" rows="2"></textarea>
                    </div>
                    <br>

                    <label for="id_scripts_suite"> Сюита сценария </label><br>
                    <input id="id_scripts_suite" name="scripts_suite" placeholder=" Сюита сценария"
                           required="required" type="text"><br>
                    <br>
                </form>
            </div>

            <!-- Автофокус в поле ввода в модальном окне -->
            <script>
                $('#editStep').on('shown.bs.modal', function (e) {
                    $('#id_step', e.target).focus();
                });
            </script>

            <div class="modal-footer">
                <button type="submit"
                        class="btn btn-success btn-lg"
                        form="id_edit_step_form">
                    Редактировать шаг
                </button>

                <button form="id_edit_step_form"
                        type="reset"
                        class="btn btn-success btn-lg">
                    Очистить форму
                </button>

                <button type="button"
                        class="btn btn-success btn-lg"
                        data-dismiss="modal">
                    Отмена
                </button>
            </div>
        </div>
    </div>
</div>
