{{ template "header.html" .}}

<div id="id_after_edit_step">
    <form id="id_after_edit_step_form"
          name="after_edit_step_form"
          method="post"
          enctype="multipart/form-data"
          action="/spec-admin/update-after-edit-step">

        <input type="hidden" name="hidden_id" value="{{ .step.Id }}">

        <label for="id_step"> Имя шага </label><br>
        <textarea id="id_step" name="step" rows="2">{{ .step.Name }}</textarea>
        <br><br>

        <label for="id_steps_serial_number">Порядковый номер шага</label><br>
        <input id="id_steps_serial_number" name="steps_serial_number" value="{{ .step.SerialNumber }}">
        <br><br>

        <div class="auto_width">
            <label for="id_steps_description">Описание действий в шаге</label><br>
            <textarea id="id_steps_description" name="steps_description"
                      rows="5">{{ .step.Description }}</textarea>
        </div>
        <br>

        <div class="auto_width">
            <label for="id_steps_expected_result">Ожидаемый результат от действий в шаге</label><br>
            <textarea id="id_steps_expected_result" name="steps_expected_result"
                      rows="7">{{ .step.ExpectedResult }}</textarea>
        </div>
        <br>

        <label>Скриншот</label>
        <div class="edit-screen-shot">
            <table>
                <thead>
                <tr>
                    <th class="left-align">Текущий скриншот</th>
                    <th class="left-align">Добавить/заменить скриншот</th>
                </tr>
                </thead>
                <tr>
                    <td class="screen-shot">
                        <div id="id_show_screen_shot" class="edit-screen-shot-loading">
                            {{ if .step.ScreenShotFileName }}
                                <span class="file-name">{{ .step.ScreenShotFileName }}</span>
                            <br><br>
                            <a href="/images/screenshots/{{ .step.ScreenShotFileName }}" target="_blank">
                                <img class="with-border" src="/images/screenshots/{{ .step.ScreenShotFileName }}"
                                     alt="Скриншот"
                                     width="70"
                                     height="50">
                            </a>
                            <a href="#"
                               title="Удалить скриншот"
                               id="id_del_screen_shot"
                               data-stepId="{{ .step.Id }}">
                                <img id="id_img_del_screen_shot"
                                     src="/images/icons/delete.png"
                                     alt="Удалить">
                            </a>
                            {{ else }}
                                Нет скриншота
                            {{ end }}
                        </div>
                    </td>
                    <td class="screen-shot">
                        <div class="edit-screen-shot-loading">
                            <input type="file" name="screen_shot" id="id_screen_shot">
                        </div>
                    </td>
                </tr>
            </table>
        </div>

    </form>
    <br><br>

    <!-- Автофокус в поле ввода в модальном окне -->
    <script>
        $('#id_after_edit_step').on('shown.bs.modal', function (e) {
            $('#id_step', e.target).focus();
        });
    </script>

    <button
            class="btn btn-success btn-lg"
            form="id_after_edit_step_form">
        Сохранить
    </button>
    <a type="button"
       class="btn btn-success btn-lg"
       href="/spec-admin">
        Отмена
    </a>

</div>

<script src="/js/edit-step-page.js"></script>

{{ template "footer.html" .}}