{{ template "header.html" .}}

<div id="id_after_edit_suite">
    <form id="id_after_edit_suite_form" name="after_edit_suite_form" method="post" action="/spec-admin/update-after-edit-suite">

        <input type="hidden" name="hidden_id" value="{{ .suitesId }}"><br>

        <label for="id_suite"> Имя сюиты </label><br>
        <input id="id_suite" name="suite" value="{{ .suite.Name }}" required="required" type="text" autofocus>
        <br><br>

        <label for="id_suites_group"> Группа тестов сюиты</label><br>
        <input id="id_suites_group" name="suites_group" value="{{ .suite.Group }}" required="required" type="text">
        <br><br>

        <label for="id_suites_serial_number">Порядковый номер сюиты</label><br>
        <input id="id_suites_serial_number" name="suites_serial_number" value="{{ .suite.SerialNumber }}"
               required="required" type="text">
        <br><br>

        <div class="auto_width">
            <label for="id_suites_description">Описание сюиты</label><br>
            <textarea id="id_suites_description" name="suites_description" required="required"
                      rows="5">{{ .suite.Description }}</textarea>
        </div>
    </form>
    <br><br>

    <!-- Автофокус в поле ввода в модальном окне -->
    <script>
        $('#id_after_edit_suite').on('shown.bs.modal', function (e) {
            $('#id_suite', e.target).focus();
        });
    </script>

    <button type="submit"
            class="btn btn-success btn-lg"
            form="id_after_edit_suite_form">
        Сохранить
    </button>
    <a type="button"
            class="btn btn-success btn-lg"
            href="/spec-admin">
        Отмена
    </a>

</div>

{{ template "footer.html" .}}