{{ template "header.html" .}}

<span class="title">Вход в SpecAdmin</span>


<p>
<form method="post" class="form-horizontal" action="/spec-admin/login-processing">
    <div class="form-group">
    <table class="login" border="0">
        <tr>
            <td class="login-user-name">
                <label>Логин:</label>
            </td>
            <td class="login-user-name">
                <input class="login" name="user_name" placeholder=" Имя пользователя" required>
            </td>
        </tr>

        <tr>
            <td class="login-user-name">
                <label>Пароль: </label>
            </td>
            <td class="login-user-password">
                <input class="login" name="user_password" placeholder=" Пароль" type="password" required>
            </td>
        </tr>

        <tr>
            <td colspan="2" class="login-button">
                <button class="btn btn-success btn-lg">
                    Войти
                </button>
            </td>
        </tr>

    </table>
    </div>
</form>

{{ template "footer.html" .}}