<!--menu.html-->

{{ template "about-modal.html" . }}
{{ template "message-modal.html" . }}
{{ template "statistic-modal.html" . }}

{{ template "add-group-modal.html" . }}
{{ template "del-group-modal.html" . }}
{{ template "edit-group-modal.html" . }}

{{ template "add-suite-modal.html" . }}
{{ template "del-suite-modal.html" . }}
{{ template "edit-suite-modal.html" . }}
{{ template "rename-suite-modal.html" . }}

{{ template "add-script-modal.html" . }}
{{ template "del-script-modal.html" . }}
{{ template "edit-script-modal.html" . }}

{{ template "add-step-modal.html" . }}
{{ template "del-step-modal.html" . }}
{{ template "edit-step-modal.html" . }}


<nav class="navbar navbar-default">
    <div id="menu" class="container">
        <ul class="nav navbar-nav">
            <li>
                <a class="navbar-brand menu-font" href="/spec-admin"> В начало </a>
            </li>

            <li>
                <a class="navbar-brand dropdown-toggle menu-font" data-toggle="dropdown" href="#"> Группы <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a class="navbar-brand menu-font" data-toggle="modal" data-target="#addGroup" href="#"> Добавить группу </a></li>
                    <li><a class="navbar-brand menu-font" data-toggle="modal" data-target="#delGroup" href="#"> Удалить группу </a></li>
                    <li><a class="navbar-brand menu-font" data-toggle="modal" data-target="#editGroup" href="#"> Переименовать группу </a></li>
                </ul>
            </li>

            <li>
            <a class="navbar-brand dropdown-toggle menu-font" data-toggle="dropdown" href="#"> Сюиты <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a class="navbar-brand menu-font" data-toggle="modal" data-target="#addSuite" href="#"> Добавить сюиту </a></li>
                    <li><a class="navbar-brand menu-font" data-toggle="modal" data-target="#delSuite" href="#"> Удалить сюиту </a></li>
                    <li><a class="navbar-brand menu-font" data-toggle="modal" data-target="#editSuite" href="#"> Редактировать сюиту </a></li>
                </ul>
            </li>

            <li>
            <a class="navbar-brand dropdown-toggle menu-font" data-toggle="dropdown" href="#"> Сценарии <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a class="navbar-brand menu-font" data-toggle="modal" data-target="#addScript" href="#"> Добавить сценарий </a></li>
                    <li><a class="navbar-brand menu-font" data-toggle="modal" data-target="#delScript" href="#"> Удалить сценарий </a></li>
                    <li><a class="navbar-brand menu-font" data-toggle="modal" data-target="#editScript" href="#"> Редактировать сценарий </a></li>
                </ul>
            </li>

            <li>
            <a class="navbar-brand dropdown-toggle menu-font" data-toggle="dropdown" href="#"> Шаги <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a class="navbar-brand menu-font" data-toggle="modal" data-target="#addStep" href="#"> Добавить шаг </a></li>
                <li><a class="navbar-brand menu-font" data-toggle="modal" data-target="#delStep" href="#"> Удалить шаг </a></li>
                <li><a class="navbar-brand menu-font" data-toggle="modal" data-target="#editStep" href="#"> Редактировать шаг </a></li>
            </ul>
            </li>

            <li>
                <a class="navbar-brand menu-font" data-toggle="modal" data-target="#statisticModal" href="#"> Статистика </a>
            </li>

            <li>
                <a class="navbar-brand menu-font" href="/spec-admin/edit-config"> Конфигурация </a>
            </li>

            <li>
                <a class="navbar-brand menu-font" data-toggle="modal" data-target="#aboutModal" href="#"> О программе </a>
            </li>

            <li>
                <a class="navbar-brand menu-font" onclick="window.print();" href="#"> Распечатать </a>
            </li>
        </ul>


        <ul class="navbar-right">

                Пользователь: <button id="logout-button" form="id_logout_form" title="Выход">
            {{ if .UserLogin }}
                <span class="user-name">{{ .UserLogin }}</span>
            {{ else }}
                <span class="user-name"> Нет </span>
            {{ end }}
                              </button>
                              <span class="title"></span>

            Версия: <span class="version">{{ .Version }}</span>

            <span class="title"> SpecAdmin </span>

        </ul>

    </div>
</nav>

<form id="id_logout_form" method="post" action="/spec-admin/logout" type="submit">
    <input type="hidden" value="{{ .UserLogin }}" name="name">
</form>

<script async src="/js/user-work.js"></script>

