<!--menu.html-->

{{ template "about-modal.html" . }}
{{ template "message-modal.html" . }}

{{ template "add-group-modal.html" . }}
{{ template "del-group-modal.html" . }}
{{ template "edit-group-modal.html" . }}

{{ template "add-suite-modal.html" . }}

<nav class="navbar navbar-default">
    <div class="container">
        <ul class="nav navbar-nav">
            <li>
                <a class="navbar-brand" href="/spec-admin"> В начало </a>
            </li>

            <li>
            <a class="navbar-brand dropdown-toggle" data-toggle="dropdown" href="#"> Группы <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a class="navbar-brand" data-toggle="modal" data-target="#addGroup" href="#"> Добавить группу </a></li>
                    <li><a class="navbar-brand" data-toggle="modal" data-target="#delGroup" href="#"> Удалить группу </a></li>
                    <li><a class="navbar-brand" data-toggle="modal" data-target="#editGroup" href="#"> Переименовать группу </a></li>
                </ul>
            </li>

            <li>
            <a class="navbar-brand dropdown-toggle" data-toggle="dropdown" href="#"> Сюиты <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a class="navbar-brand" data-toggle="modal" data-target="#addSuite" href="#"> Добавить сюиту </a></li>
                    <li><a class="navbar-brand" data-toggle="modal" data-target="#delSuite" href="#"> Удалить сюиту </a></li>
                    <li><a class="navbar-brand" data-toggle="modal" data-target="#editSuite" href="#"> Редактировать сюиту </a></li>
                </ul>
            </li>

            <li>
            <a class="navbar-brand dropdown-toggle" data-toggle="dropdown" href="#"> Сценарии <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a class="navbar-brand" data-toggle="modal" data-target="#addScript" href="#"> Добавить сценарий </a></li>
                    <li><a class="navbar-brand" data-toggle="modal" data-target="#delScript" href="#"> Удалить сценарий </a></li>
                    <li><a class="navbar-brand" data-toggle="modal" data-target="#editScript" href="#"> Редактировать сценарий </a></li>
                </ul>
            </li>

            <li>
                <a class="navbar-brand" data-toggle="modal" data-target="#aboutModal" href="#"> О программе </a>
            </li>

            <li>
                <a class="navbar-brand" onclick="window.print();" href="#"> Распечатать </a>
            </li>
        </ul>
    </div>
</nav>
