<!-- Шаблон хедера -->
{{ template "header.html" .}}

<h2>{{ .message1 }}</h2>
<h1><span class="error">{{ .message2 }}</span></h1>
<h4>{{ .message3 }}</h4>
<br>
<div class="center-align">
    {{ if .SuitesGroup }}
        <form method="post" action="/spec-admin/show-suites">
            <input class="btn btn-success btn-lg"
                   id="btn-group"
                   type="submit"
                   value={{ .SuitesGroup }}
                   name="group_name">
    {{ end }}
            <a class="btn btn-success btn-lg" href="/spec-admin"> В начало </a>
    {{ if .SuitesGroup }}
        </form>
    {{ end }}
</div>
<!-- Шаблон футера -->
{{ template "footer.html" .}}
