<div id="msgModal" class="modal" tabindex="-1" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div id="headerModal" class="modal-header">
                Сообщение
            </div>
            <div class="modal-body">
                <div class="center-align">
                    <h1>{{ .message1 }}</h1>
                    <h1>{{ .message2 }}</h1>
                    <h4>{{ .message3 }}</h4>
                    <br>
                </div>
            </div>
        </div>
    </div>
    <a class="btn btn-success btn-lg" href="/spec-admin"> В начало </a>
</div>


