<div id="printSteps" class="modal" tabindex="-1" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div id="headerModal" class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                ПДФ с шагами сценария
            </div>

            <div class="modal-body">

                <a href="/pdf/steps.pdf"> Просмотреть </a>
                <button id="pdf_view_button"
                        class="btn btn-success btn-lg"
                        form="id_add_step_form">
                    Просмотреть
                </button>

                <button form="id_add_step_form"
                        type="reset"
                        class="btn btn-success btn-lg">
                    Сохранить
                </button>

                <button type="button"
                        class="btn btn-success btn-lg"
                        data-dismiss="modal">
                    Отмена
                </button>

            </div>

            <!-- Автофокус на кнопку в модальном окне -->
            <script>
                $('#printSteps').on('shown.bs.modal', function (e) {
                    $('#pdf_view_button', e.target).focus();
                });
            </script>

            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>