<!-- Шаблон хедера -->
{{ template "header.html" .}}

<span class="title">Сюиты группы </span><span id="name" class="title">{{ .groupName }}</span>
<p>

<!--Путь в переменную темплейта поместить-->
{{ $path_screen_shots := .screenShotsPath }}
{{ $page := . }}

{{ range .suitesList }}
<div class="group_list">
    <table class="suite-table table table-bordered">
        <tr>
            <td class="suite-numbers">{{ .SerialNumber }}.</td>
            <td class="suite-name">
                <a href="#" onclick="anichange('#divId_{{ .Name }}'); return false" class="group_name">{{ .Name }}</a>
            </td>
            <td>{{ .Description }}</td>
            <td class="suite-icons">

                <a data-toggle="modal" data-target="#renameSuite" href="#" title="Переименовать Сюиту" data-name="{{ .Name }}">
                    <img src="/images/icons/rename.png" alt="Rename Suite" width="30" height="30">
                </a>

                <a data-toggle="modal" data-target="#editSuite" href="#" title="Редактировать Сюиту" data-name="{{ .Name }}">
                    <img src="/images/icons/edit.png" alt="Edit Suite" width="30" height="30">
                </a>

                <a data-toggle="modal" data-target="#delSuite" href="#" title="Удалить Сюиту" data-name="{{ .Name }}">
                    <img src="/images/icons/delete.png" alt="Delete Suite" width="30" height="30">
                </a>

                <a data-toggle="modal" data-target="#addScript" href="#" title="Добавить Сценарий" data-name="{{ .Name }}">
                    <img src="/images/icons/add.png" alt="Add Script" width="30" height="30">
                </a>
            </td>
        </tr>
    </table>

    <div id="divId_{{ .Name }}" style="display: none">
        <table class="script-table">
            {{ range .Scripts }}
            <tr>
                <td class="script-numbers">{{ .SerialNumber }}.</td>
                <td class="script-name"><a href="#" onclick="anichange('#divId_{{ .Suite }}_{{ .SerialNumber }}'); return false">{{ .Name }}</a></td>
                <td class="script-icons">
                    <a data-toggle="modal" data-target="#editScript" href="#" title="Редактировать Сценарий"
                       data-name="{{ .Name }}" data-suite="{{ .Suite }}">
                        <img src="/images/icons/edit.png" alt="Rename" width="30" height="30">
                    </a>
                    <a data-toggle="modal" data-target="#delScript" href="#" title="Удалить Сценарий"
                       data-name="{{ .Name }}" data-suite="{{ .Suite }}">
                        <img src="/images/icons/delete.png" alt="Delete" width="30" height="30">
                    </a>
                    <a data-toggle="modal" data-target="#addStep" href="#" title="Добавить Шаг"
                       data-name="{{ .Name }}" data-suite="{{ .Suite }}">
                        <img src="/images/icons/add.png" alt="Add Step" width="30" height="30">
                    </a>
                    <a href="#"
                       title="Респечатать шаги сценария"
                       id="id_print_steps"
                       data-name="{{ .Name }}"
                       data-suite="{{ .Suite }}">
                        <img src="/images/icons/printer.png" alt="Print Steps" width="30" height="30">
                    </a>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div id="divId_{{ .Suite }}_{{ .SerialNumber }}" style="display: none" align="left">
                        <table class="step-table table table-bordered">
                            <thead>
                            <tr>
                                <th class="steps-numbers">N&nbsp;</th>
                                <th class="center-align">Название Шага</th>
                                <th class="center-align">Описание Шага</th>
                                <th class="center-align">Ожидаемый результат</th>
                                <th class="center-align">Скриншот</th>
                                <th class="center-align">Действия</th>
                            </tr>
                            </thead>
                            <tbody>
                                {{ range .Steps }}
                                <tr>
                                    <td class="steps-numbers">{{ .SerialNumber }}.&nbsp;</td>
                                    <td class="steps-name">{{ .Name }}</td>
                                    <td class="steps-description">{{ .Description }}</td>
                                    <td class="steps-exp-result">{{ .ExpectedResult }}</td>
                                    <td class="steps-screen-shot">
                                        {{ if .ScreenShotFileName }}
                                            <a href="/images/screenshots/{{ .ScreenShotFileName }}" target="_blank">
                                                <img class="with-border"
                                                     src="/images/screenshots/{{ .ScreenShotFileName }}"
                                                     alt="Скриншот"
                                                     width="70" height="50">
                                            </a>
                                        {{ else }}
                                            Нет скриншота
                                        {{ end }}
                                    </td>
                                    <td class="steps-screen-shot">
                                        <a data-toggle="modal" data-target="#editStep" href="#" title="Редактировать Шаг"
                                           data-name="{{ .Name }}" data-script="{{ .ScriptsId }}">
                                            <img src="/images/icons/edit.png" alt="Rename" width="30" height="30">
                                        </a>
                                        <a data-toggle="modal" data-target="#delStep" href="#" title="Удалить Шаг"
                                           data-name="{{ .Name }}" data-script="{{ .ScriptsId }}">
                                            <img src="/images/icons/delete.png" alt="Delete" width="30" height="30">
                                        </a>
                                    </td>
                                </tr>
                                {{ end }}
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>

            {{ end }}
        </table>
    </div>

</div>
{{ end }}

<script async src="/js/suites-index-page.js"></script>

<!-- Шаблон футера -->
{{ template "footer.html" .}}
