{{ template "header.html" .}}

{{ template "create-user-modal.html" . }}

<span class="title">Пользователи</span>

<p>
    <div class="users-config-button">
        <a type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#createUser" href="#">
            Создать нового пользователя
        </a>

    <!--<a class="navbar-brand" data-toggle="modal" data-target="#addGroup" href="#"> Добавить группу </a>-->

    </div>
<p>
    <table class="users-table table table-bordered">
        <thead>
        <tr>
            <th class="steps-numbers">N </th>
            <th class="center-align">Логин</th>
            <th class="center-align">Полное имя</th>
            <th class="center-align">Редактирование</th>
            <th class="center-align">Создание</th>
        </tr>
        </thead>
        <tbody>
            {{ range .users }}
            <tr>
                <td>{{ .Login }}</td>
                <td>{{ .FullName }}</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            {{end }}
        </tbody>
    </table>

<script async src="/js/apps-index-page.js"></script>

<!-- Шаблон футера -->
{{ template "footer.html" .}}
